<div class="container-fluid wrapper">
  <div class="content-wrapper">
    <div class="content-wrapper-header">
      Užsakymo informacija
    </div>

    <div class="content-body">
      <%= render 'form', order: @order %>
    </div>
  </div>
</div>
