<div>
  <h3>Home page updated</h3>

  <div>
    <% @distance = [] %>
    <% @distances.each do |distance| %>
      <% @distance << distance.distance %>
    <% end %>

    <%= (@distance.sum / 1000.0).round(2) %>km
  </div>
</div>
