<div class="container-fluid wrapper">
  <div class="content-wrapper">
    <div class="content-wrapper-header">
      Registruoti automobilį
    </div>

    <div class="content-body">
      <%= render 'form', vehicle: @vehicle %>
    </div>
  </div>
</div>
