.shared-container {
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.shared-container a {
  color: #172D45;
  text-decoration: none;
}

.shared-container a:hover {
  text-decoration: underline;
}
