@font-face {
    font-family: 'Geomanist';
    src: font-url('Geomanist-Thin-Webfont/geomanist-thin-webfont.eot');
    src: font-url('Geomanist-Thin-Webfont/geomanist-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('Geomanist-Thin-Webfont/geomanist-thin-webfont.woff2') format('woff2'),
         url('Geomanist-Thin-Webfont/geomanist-thin-webfont.woff') format('woff'),
         url('Geomanist-Thin-Webfont/geomanist-thin-webfont.ttf') format('truetype'),
         url('Geomanist-Thin-Webfont/geomanist-thin-webfont.svg#geomanistregular') format('svg');
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: font-url('Geomanist-ExtraLight-Webfont/geomanist-extralight-webfont.eot');
    src: font-url('Geomanist-ExtraLight-Webfont/geomanist-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('Geomanist-ExtraLight-Webfont/geomanist-extralight-webfont.woff2') format('woff2'),
         url('Geomanist-ExtraLight-Webfont/geomanist-extralight-webfont.woff') format('woff'),
         url('Geomanist-ExtraLight-Webfont/geomanist-extralight-webfont.ttf') format('truetype'),
         url('Geomanist-ExtraLight-Webfont/geomanist-extralight-webfont.svg#geomanistregular') format('svg');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: font-url('Geomanist-Light-Webfont/geomanist-light-webfont.eot');
    src: font-url('Geomanist-Light-Webfont/geomanist-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Geomanist-Light-Webfont/geomanist-light-webfont.woff2') format('woff2'),
         url('Geomanist-Light-Webfont/geomanist-light-webfont.woff') format('woff'),
         url('Geomanist-Light-Webfont/geomanist-light-webfont.ttf') format('truetype'),
         url('Geomanist-Light-Webfont/geomanist-light-webfont.svg#geomanistregular') format('svg');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: font-url('Geomanist-Regular-Webfont/geomanist-regular-webfont.eot');
    src: font-url('Geomanist-Regular-Webfont/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Geomanist-Regular-Webfont/geomanist-regular-webfont.woff2') format('woff2'),
         url('Geomanist-Regular-Webfont/geomanist-regular-webfont.woff') format('woff'),
         url('Geomanist-Regular-Webfont/geomanist-regular-webfont.ttf') format('truetype'),
         url('Geomanist-Regular-Webfont/geomanist-regular-webfont.svg#geomanistregular') format('svg');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: font-url('Geomanist-Book-Webfont/geomanist-book-webfont.eot');
    src: font-url('Geomanist-Book-Webfont/geomanist-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('Geomanist-Book-Webfont/geomanist-book-webfont.woff2') format('woff2'),
         url('Geomanist-Book-Webfont/geomanist-book-webfont.woff') format('woff'),
         url('Geomanist-Book-Webfont/geomanist-book-webfont.ttf') format('truetype'),
         url('Geomanist-Book-Webfont/geomanist-book-webfont.svg#geomanistregular') format('svg');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: font-url('Geomanist-Medium-Webfont/geomanist-medium-webfont.eot');
    src: font-url('Geomanist-Medium-Webfont/geomanist-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('Geomanist-Medium-Webfont/geomanist-medium-webfont.woff2') format('woff2'),
         url('Geomanist-Medium-Webfont/geomanist-medium-webfont.woff') format('woff'),
         url('Geomanist-Medium-Webfont/geomanist-medium-webfont.ttf') format('truetype'),
         url('Geomanist-Medium-Webfont/geomanist-medium-webfont.svg#geomanistregular') format('svg');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: font-url('Geomanist-Bold-Webfont/geomanist-bold-webfont.eot');
    src: font-url('Geomanist-Bold-Webfont/geomanist-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Geomanist-Bold-Webfont/geomanist-bold-webfont.woff2') format('woff2'),
         url('Geomanist-Bold-Webfont/geomanist-bold-webfont.woff') format('woff'),
         url('Geomanist-Bold-Webfont/geomanist-bold-webfont.ttf') format('truetype'),
         url('Geomanist-Bold-Webfont/geomanist-bold-webfont.svg#geomanistregular') format('svg');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: font-url('Geomanist-Black-Webfont/geomanist-black-webfont.eot');
    src: font-url('Geomanist-Black-Webfont/geomanist-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('Geomanist-Black-Webfont/geomanist-black-webfont.woff2') format('woff2'),
         url('Geomanist-Black-Webfont/geomanist-black-webfont.woff') format('woff'),
         url('Geomanist-Black-Webfont/geomanist-black-webfont.ttf') format('truetype'),
         url('Geomanist-Black-Webfont/geomanist-black-webfont.svg#geomanistregular') format('svg');
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: font-url('Geomanist-Ultra-Webfont/geomanist-ultra-webfont.eot');
    src: font-url('Geomanist-Ultra-Webfont/geomanist-ultra-webfont.eot?#iefix') format('embedded-opentype'),
         url('Geomanist-Ultra-Webfont/geomanist-ultra-webfont.woff2') format('woff2'),
         url('Geomanist-Ultra-Webfont/geomanist-ultra-webfont.woff') format('woff'),
         url('Geomanist-Ultra-Webfont/geomanist-ultra-webfont.ttf') format('truetype'),
         url('Geomanist-Ultra-Webfont/geomanist-ultra-webfont.svg#geomanistregular') format('svg');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}
