header {
  position: relative;
}

.navbar-nav {
  width: 100%;
}

header nav.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

header nav.navbar .navbar-brand {
  color: #134183;
  font-size: 20px;
  font-weight: 700;
}

header nav.navbar .navbar-brand:hover,
header nav.navbar .navbar-brand:focus {
  color: #1957b0;
}

header .nav-link {
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 0;
}

header .nav-link a {
  text-decoration: none;
  color: #31335a;
}
