.registration-field {
  margin-bottom: 20px;
}

.form-fields .field label {
  width: 100%;
  padding-bottom: 3px;
  font-size: 14px;
  font-weight: 500;
}

.form-fields .field input {
  width: 100%;
  padding: 7px 12px;
}

.form-fields .field select {
  width: 100%;
  padding: 7px 12px;
}

.field-remeber-me {
  margin-bottom: 20px;
}

.field-remeber-me label {
  font-size: 14px;
  font-weight: 500;
}

.field-helper-text {
  font-size: 12px;
  font-weight: 300;
}

.field-helper-text a {
  text-decoration: none;
}

.custom-file {
  width: 100%;
}

.custom-file label {
  width: 100%;
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
}

.custom-file-image {
  max-width: 200px;
  margin-top: 20px;
}
