.search-container {
  max-width: 1200px;
  margin: 20px auto;
  color: #31335a;
  padding: 20px;
  background-color: #ffffff;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  // -webkit-box-shadow: 0px 0px 3px 0px #A39B9B;
  // box-shadow: 0px 0px 3px 0px #A39B9B;
  // -moz-box-shadow: 0px 0px 3px 0px #A39B9B;
}
