/* index.html.erb */

.vehicle-list-header {
  max-width: 100%;
  height: 35px;
  margin: 20px 0 20px 0;
}

.total-vehicles {
  display: inline-block;
  width: calc(100% - 120px);
  font-weight: 500;
  font-size: 14px;
  vertical-align: middle;
}

.sort-by {
  display: inline-block;
}

/* vehicles list */

.vehicle-list-container {
  max-width: 100%;
  color: #31335a;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.card {
  border: 0px;
}

.vehicle-list-container.my-vehicles {
  margin: 50px auto;
}

.vehicle-list-container.my-orders {
  background-color: #ffffff;
  padding: 20px;
}

.vehicle-list-item-image {
  width: 120px;
  height: 80px;
  display: inline-block;
  vertical-align: top;
  background-color: #eef1f4;
  margin-right: -4px;
}

.card-body {
  position: relative;
  height: 100%;
  // border: 1px solid red;
}

.vehicle-list-item-title-container {
  width: 100%;
  // border: 1px solid red;
}

.vehicle-list-item-title {
  width: calc(100% - 100px);
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
  font-size: 20px;
  // border: 1px solid red;
}

.vehicle-list-item-total-km {
  width: 100px;
  display: inline-block;
  vertical-align: top;
  text-align: right;
  margin-right: -4px;
  font-size: 16px;
  color: #545f7c;
  // border: 1px solid red;
}

.vehicle-list-item-subtitle {
  font-size: 14px;
  color: #989fb0;
  margin-top: -3px;
  // border: 1px solid red;
}

ul.card-text {
  margin-top: 5px;
  // border: 1px solid red;
}

ul.card-text li {
  // width: 19%;
  display: inline-block;
  padding: 0 10px 0 0;
  margin: 0;
  text-align: center;
  // border: 1px solid red;
}

.card-text-value {
  text-align: center;
}

.card-footer {
  width: calc(100% - 30px);
  position: absolute;
  bottom: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 14px;
  color: #989fb0;
}

/* show.htm.erb */

.vehicle-container {
  width: calc(100% - 265px);
  display: inline-block;
  vertical-align: top;

  // @include mobile {
  //     width: 100%;
  //  }
}

.vehicle-sidebar-container {
  width: 250px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;

  // @include mobile {
  //     width: 100%;
  //     margin: 10px 0 0 0;
  //  }
}

.carousel-item img {
  // height: 400px;
  // background-color: #cccccc;
}

.vehicle-body {
  background-color: #ffffff;
  margin-bottom: 20px;
  // border: 1px solid red;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.vehicle-title {
  font-size: 20px;
  font-weight: 400;
  padding: 20px;
  border-bottom: 1px solid #CFD3D8;
}

.vehicle-text {
  padding: 20px;
}

.vehicle-info {
  margin: 5px 0 5px 0;
}

.vehicle-info-title {
  font-size: 16px;
  font-weight: 300;
}

.vehicle-info-value {
  font-size: 16px;
  font-weight: 300;
  float: right;
}

ul.vehicle-places,
ul.vehicle-places-header {
  font-size: 16px;
  font-weight: 300;
  padding: 10px 0 10px 0;
  border-top: 1px solid #CFD3D8;
}

ul.vehicle-places li,
ul.vehicle-places-header li {
  display: inline-block;
  width: calc(33.33% - 11px);
}

ul.vehicle-places-header li.vehicle-places-counter,
ul.vehicle-places li.vehicle-places-counter {
  width: 20px;
  font-weight: 400;
}

ul.vehicle-places-header {
  border-top: none;
}

ul.vehicle-places-header {
  font-weight: 400;
  text-transform: uppercase;
}

.vehicle-sidebar {
  background-color: #ffffff;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.vehicle-sidebar-header {
  text-transform: uppercase;
  font-weight: 400;
  padding: 20px;
}

.vehicle-sidebar-info {
  padding: 20px;
  border-top: 1px solid #CFD3D8;
  border-bottom: 1px solid #CFD3D8;
}

.vehicle-sidebar-info ul li {
  font-size: 15px;
  font-weight: 300;
}

.vehicle-sidebar-info-title {
}

.vehicle-sidebar-info-value {
  float: right;
}

.vehicle-sidebar-admin-price {
  padding: 20px;
  border-bottom: 1px solid #CFD3D8;
}

.vehicle-sidebar-admin-price ul li {
  font-size: 15px;
  font-weight: 300;
}

.vehicle-sidebar-button {
  padding: 20px;
}

/* form.htm.erb */

.vehicle-field {
  margin-bottom: 10px;
}
