/* index.html.erb */

.vehicle-list-header {
  max-width: 100%;
  height: 35px;
  margin: 20px 0 20px 0;
}

.total-vehicles {
  display: inline-block;
  width: calc(100% - 120px);
  font-weight: 500;
  font-size: 14px;
  vertical-align: middle;
}

.sort-by {
  display: inline-block;
}

/* vehicles list */

.vehicle-list-container.my-vehicles {
  margin: 50px auto;
}

.vehicle-list-container.my-orders {
  background-color: #ffffff;
  padding: 20px;
}

.vehicles-list {
  margin-bottom: 20px;
  background-color: #ffffff;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  // @include mobile {
  //   width: 100%;
  //   height: auto;
  // }
  //
  // @include tablet {
  //   width: 100%;
  //   height: auto;
  // }
}

.vehicles-list-primary-image {
  width: 180px;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  // border: 1px solid red;

  // @include mobile {
  //   width: 100%;
  //   height: auto;
  // }
  //
  // @include tablet {
  //   width: 100%;
  //   height: auto;
  // }
}

.vehicles-list-primary-image img {
  height: 100%;
  // border: 1px solid red;
}

.vehicles-list-body {
  width: calc(100% - 181px);
  display: inline-block;
  // border: 1px solid red;

  // @include mobile {
  //   width: 100%;
  // }
  //
  //  @include tablet {
  //    width: 100%;
  //    margin: 10px 0 0 0;
  //  }
}

.vehicle-list-item-title-container {
  width: 100%;
}

.vehicle-list-item-title {
  width: calc(100% - 100px);
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  // border: 1px solid red;
}

.vehicle-list-item-total-km {
  width: 100px;
  display: inline-block;
  vertical-align: top;
  text-align: right;
  margin-right: -4px;
  font-size: 16px;
  color: #545f7c;
  font-weight: 500;
  // border: 1px solid red;
}

// .vehicle-list-item-subtitle {
//   font-size: 14px;
//   color: #989fb0;
//   margin-top: -3px;
//   // border: 1px solid red;
// }

.vehicle-list-body {
  // border: 1px solid red;
}

ul.vehicle-list-body-cities,
ul.vehicle-list-body-elderships {
  // border: 1px solid red;
  margin-bottom: -3px;
}

ul.vehicle-list-body-cities li,
ul.vehicle-list-body-elderships li {
  display: inline-block;
  font-size: 14px;
  // padding: 0 20px 0 20px;
  margin-right: 20px;
  // margin-bottom: -30px;
  // border: 1px solid red;
}

.vehicle-list-body-title {
  width: 60px;
  font-weight: 500;
  // border: 1px solid green;
}

.vehicle-list-footer {
  font-size: 14px;
  font-weight: 400;
  margin-top: 7px;
  // color: #cccccc;
  // border: 1px solid red;
}

/* show.htm.erb */

.vehicle-container {
  width: calc(100% - 265px);
  display: inline-block;
  vertical-align: top;

  // @include mobile {
  //     width: 100%;
  //  }
  //
  //  @include tablet {
  //      width: 100%;
  //      margin: 10px 0 0 0;
  //   }
}

.vehicle-sidebar-container {
  width: 250px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;

  // @include mobile {
  //     width: 100%;
  //     margin: 10px 0 0 0;
  //  }
  //
  //  @include tablet {
  //      width: 100%;
  //      margin: 10px 0 0 0;
  //   }
}

.vehicle-body {
  background-color: #ffffff;
  margin-bottom: 20px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.vehicle-title {
  font-size: 20px;
  font-weight: 400;
  padding: 20px;
  border-bottom: 1px solid #CFD3D8;
}

.vehicle-text {
  padding: 20px;
}

.vehicle-info {
  margin: 5px 0 5px 0;
}

.vehicle-info-title {
  font-size: 16px;
  font-weight: 300;
}

.vehicle-info-value {
  font-size: 16px;
  font-weight: 300;
  float: right;
}

ul.vehicle-places,
ul.vehicle-places-header {
  font-size: 16px;
  font-weight: 300;
  padding: 10px 0 10px 0;
  border-top: 1px solid #CFD3D8;
}

ul.vehicle-places li,
ul.vehicle-places-header li {
  display: inline-block;
  width: calc(33.33% - 11px);
}

ul.vehicle-places-header li.vehicle-places-counter,
ul.vehicle-places li.vehicle-places-counter {
  width: 20px;
  font-weight: 400;
}

ul.vehicle-places-header {
  border-top: none;
}

ul.vehicle-places-header {
  font-weight: 400;
  text-transform: uppercase;
}

.vehicle-sidebar {
  background-color: #ffffff;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.vehicle-sidebar-header {
  text-transform: uppercase;
  font-weight: 400;
  padding: 20px;
}

.vehicle-sidebar-info {
  padding: 20px;
  border-top: 1px solid #CFD3D8;
  border-bottom: 1px solid #CFD3D8;
}

.vehicle-sidebar-info ul li {
  font-size: 15px;
  font-weight: 300;
}

.vehicle-sidebar-info-title {
}

.vehicle-sidebar-info-value {
  float: right;
}

.vehicle-sidebar-admin-price {
  padding: 20px;
  border-bottom: 1px solid #CFD3D8;
}

.vehicle-sidebar-admin-price ul li {
  font-size: 15px;
  font-weight: 300;
}

.vehicle-sidebar-button {
  padding: 20px;
}

/* form.htm.erb */

.vehicle-field {
  margin-bottom: 10px;
}
